# CV READER - EVALUATION

All of these following libraries are not part of Google Colaboratory, therefore all of them need to be previosluy installed to the runtime in order to be used. 


*   PyMuPDF (PDF Reader and Extractor)
*   Fitz (acts as pymupdf within the code)
*   unidecode (gets rid of all unknown characters in the text extracted)

!pip install pymupdf
!pip install fitz
!pip install PyMuPDF==1.18.16
!pip install unidecode

All of the previosly installed libraries are now imported along with the the already known libraries by Google Colaboratory. 



*   **Pandas and Numpy** are imported because of its importance while handling structured data.
*   Importing **regular expressions** package widely used for text matching.

In [98]:
import fitz
import pandas as pd
import numpy as np
import re
from unidecode import unidecode

CV in study

*   202206 Javier Andújar CV.pdf

*   Alejandro_Vacca_Bonilla_-_CV.pdf

*   Andrea Montesinos Rosales CV.pdf

*   Andres_Morales_Data_Engineer_2022.pdf

*   CV - Marie Ann Chumbimuni.pdf

*   CV_Jose_Onate_Lopez.pdf

*   Carlo Espinoza - CV.pdf

*   Cristian Cepeda - CV.pdf

*   Diego_Mendez_Resume__Short_Version___CR_ (1).pdf

*   Kabir Gramajo EN-CV.pdf

*   CV - Andres Gutter - EN (1).pdf

*   CV Melvin Leal.pdf

*   YorVega.pdf

*   CV LM (en).pdf

*   CV Luis Palacin.pdf

*   José Luis Gutiérrez Mendoza.docx.pdf

*   Uriel-CV-2022 (4).pdf

*   CV Sebastian Martinez.pdf

*   Daniel_Ruszel_Resume.pdf

*   Resume-Franklin-Herrera (1).pdf

*   Cesar Moreno CV.pdf

*   CV - Andres Pachón EN vFebruary 2022.pdf

In [103]:
DIGITIZED_FILE = "../data/cv/CV Melvin Leal.pdf"

## Reader

In [104]:
with fitz.open(DIGITIZED_FILE) as doc:
  block_dict = {}

  page_num = 1
  line_num_test = 1

  for page in doc: # Iterate all pages in the document

        file_dict = page.get_text('dict') # Get the page dictionary 

        block = file_dict['blocks'] # Get the block information

        for a in block:   
          if a["type"] == 0:
            for line in a['lines']:
              for span in line['spans']:
                #print(c['text'])
                span["page_num"] = page_num
                span["line_num"] =  line_num_test

              line_num_test += 1

          else :
            a["page_num"] = page_num

        block_dict[page_num] = block # Store in block dictionary

        page_num += 1 # Increase the page value by 1

In [105]:
# Printing line by line to observe what to extract and what not to

for page_num, blocks in block_dict.items():
    for block in blocks:
        if block['type'] == 0:
          contador = 0
          for lines in block["lines"]:
            print(lines)
            """for span in lines['spans']:
              print(span)"""

{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': ' ', 'origin': (65.63999938964844, 771.47998046875), 'bbox': (65.63999938964844, 764.4710693359375, 67.75271606445312, 773.8162841796875), 'page_num': 1, 'line_num': 1}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 764.4710693359375, 67.75271606445312, 773.8162841796875)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': ' ', 'origin': (65.63999938964844, 784.0799560546875), 'bbox': (65.63999938964844, 777.071044921875, 67.75271606445312, 786.416259765625), 'page_num': 1, 'line_num': 2}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 777.071044921875, 67.75271606445312, 786.416259765625)}
{'spans': [{'size': 0.9007424712181091, 'flags': 4, 'font': 'CIDFont+F2', 'color': 0, 'ascender': 0.89111328125, 'descender': -0.21630859375, 'text': ' ', 'origin': (107.16000366210938, 86.39999389648438), 'bbox': (107.16000366210938, 85.59732818603516, 107.38519287109375, 86.59483337402344), 'page_num': 1, 'line_num': 3}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (107.16000366210938, 85.59732818603516, 107.38519287109375, 86.59483337402344)}
{'spans': [{'size': 20.604450225830078, 'flags': 16, 'font': 'CIDFont+F3', 'color': 659228, 'ascender': 0.935546875, 'descender': -0.2119140625, 'text': 'Melvin Leal ', 'origin': (123.24000549316406, 66.60000610351562), 'bbox': (123.24000549316406, 47.323577880859375, 219.36376953125, 70.96637725830078), 'page_num': 1, 'line_num': 4}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (123.24000549316406, 47.323577880859375, 219.36376953125, 70.96637725830078)}
{'spans': [{'size': 6.530369758605957, 'flags': 0, 'font': 'CIDFont+F1', 'color': 659228, 'ascender': 0.75, 'descender': -0.25, 'text': 'B US I NES S  I NT E LLIG E NCE  A ND  DA TA  ENGI NE ER  SP ECIA LI ST  ', 'origin': (123.24000549316406, 82.08000183105469), 'bbox': (123.24000549316406, 77.18222045898438, 326.7658996582031, 83.71259307861328), 'page_num': 1, 'line_num': 5}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (123.24000549316406, 77.18222045898438, 326.7658996582031, 83.71259307861328)}
{'spans': [{'size': 12.159975051879883, 'flags': 16, 'font': 'CIDFont+F3', 'color': 659228, 'ascender': 0.935546875, 'descender': -0.2119140625, 'text': 'About me ', 'origin': (65.63999938964844, 117.72000122070312), 'bbox': (65.63999938964844, 106.3437728881836, 114.63021087646484, 120.29686737060547), 'page_num': 1, 'line_num': 6}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 106.3437728881836, 114.63021087646484, 120.29686737060547)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'IT professional with 14+ years of experience. In the last 10 years I have been ', 'origin': (65.63999938964844, 136.0800018310547), 'bbox': (65.63999938964844, 129.07107543945312, 358.2993469238281, 138.4163055419922), 'page_num': 1, 'line_num': 7}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 129.07107543945312, 358.2993469238281, 138.4163055419922)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'specialized in the Business Intelligence area, working in the financial, ', 'origin': (65.63999938964844, 148.79998779296875), 'bbox': (65.63999938964844, 141.79107666015625, 329.71417236328125, 151.13629150390625), 'page_num': 1, 'line_num': 8}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 141.79107666015625, 329.71417236328125, 151.13629150390625)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'insurance and the manufactured industry. Industries where I have been ', 'origin': (65.63999938964844, 161.39999389648438), 'bbox': (65.63999938964844, 154.39108276367188, 340.9426574707031, 163.73629760742188), 'page_num': 1, 'line_num': 9}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 154.39108276367188, 340.9426574707031, 163.73629760742188)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'participated in many projects as Data Architecture Role, Head of Data ', 'origin': (65.63999938964844, 174.0), 'bbox': (65.63999938964844, 166.9910888671875, 333.1017761230469, 176.3363037109375), 'page_num': 1, 'line_num': 10}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 166.9910888671875, 333.1017761230469, 176.3363037109375)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Warehouse and Business Intelligence Role, Data Analyst Role and Data ', 'origin': (65.63999938964844, 186.72000122070312), 'bbox': (65.63999938964844, 179.71109008789062, 336.7995300292969, 189.05630493164062), 'page_num': 1, 'line_num': 11}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 179.71109008789062, 336.7995300292969, 189.05630493164062)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Engineer Role, which is the one that I am performing.  ', 'origin': (65.63999938964844, 199.0800018310547), 'bbox': (65.63999938964844, 192.07107543945312, 273.2374267578125, 201.4163055419922), 'page_num': 1, 'line_num': 12}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 192.07107543945312, 273.2374267578125, 201.4163055419922)}
{'spans': [{'size': 12.159975051879883, 'flags': 16, 'font': 'CIDFont+F3', 'color': 659228, 'ascender': 0.935546875, 'descender': -0.2119140625, 'text': 'Work Experience ', 'origin': (65.63999938964844, 231.72000122070312), 'bbox': (65.63999938964844, 220.34378051757812, 149.70034790039062, 234.296875), 'page_num': 1, 'line_num': 13}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 220.34378051757812, 149.70034790039062, 234.296875)}
{'spans': [{'size': 9.908175468444824, 'flags': 16, 'font': 'CIDFont+F4', 'color': 659228, 'ascender': 0.75, 'descender': -0.25, 'text': 'Data Engineer, BairesDev, United States ', 'origin': (65.63999938964844, 252.72000122070312), 'bbox': (65.63999938964844, 245.2888641357422, 231.4196014404297, 255.19705200195312), 'page_num': 1, 'line_num': 14}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 245.2888641357422, 231.4196014404297, 255.19705200195312)}
{'spans': [{'size': 6.530369758605957, 'flags': 0, 'font': 'CIDFont+F1', 'color': 9937331, 'ascender': 0.75, 'descender': -0.25, 'text': 'M AR CH  2 0 2 2 —  A T PRE SE NT  ', 'origin': (65.63999938964844, 265.32000732421875), 'bbox': (65.63999938964844, 260.4222412109375, 165.5290069580078, 266.9526062011719), 'page_num': 1, 'line_num': 15}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 260.4222412109375, 165.5290069580078, 266.9526062011719)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 281.4000244140625), 'bbox': (76.08000183105469, 277.51556396484375, 79.20829772949219, 282.69482421875), 'page_num': 1, 'line_num': 16}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 281.4000244140625), 'bbox': (79.19999694824219, 276.71136474609375, 80.63896179199219, 282.4975891113281), 'page_num': 1, 'line_num': 16}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Create and maintain data pipelines using Python. ', 'origin': (85.44000244140625, 281.4000244140625), 'bbox': (85.44000244140625, 274.39111328125, 274.7234191894531, 283.736328125), 'page_num': 1, 'line_num': 16}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 274.39111328125, 274.7234191894531, 283.736328125)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 294.1199951171875), 'bbox': (76.08000183105469, 290.23553466796875, 79.20829772949219, 295.414794921875), 'page_num': 1, 'line_num': 17}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 294.1199951171875), 'bbox': (79.19999694824219, 289.43133544921875, 80.63896179199219, 295.2175598144531), 'page_num': 1, 'line_num': 17}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Build entire data lifecycle using AWS Infrastructure and Managed ', 'origin': (85.44000244140625, 294.1199951171875), 'bbox': (85.44000244140625, 287.111083984375, 336.0888977050781, 296.456298828125), 'page_num': 1, 'line_num': 17}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 287.111083984375, 336.0888977050781, 296.456298828125)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Services like MWAA, S3 and Redshift. ', 'origin': (85.44000244140625, 306.7200012207031), 'bbox': (85.44000244140625, 299.7110900878906, 229.3001251220703, 309.0563049316406), 'page_num': 1, 'line_num': 18}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (85.44000244140625, 299.7110900878906, 229.3001251220703, 309.0563049316406)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 319.32000732421875), 'bbox': (76.08000183105469, 315.435546875, 79.20829772949219, 320.61480712890625), 'page_num': 1, 'line_num': 19}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 319.32000732421875), 'bbox': (79.19999694824219, 314.63134765625, 80.63896179199219, 320.4175720214844), 'page_num': 1, 'line_num': 19}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Extract large datasets from websites and ingest the data into datalakes. ', 'origin': (85.44000244140625, 319.32000732421875), 'bbox': (85.44000244140625, 312.31109619140625, 360.1833190917969, 321.65631103515625), 'page_num': 1, 'line_num': 19}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 312.31109619140625, 360.1833190917969, 321.65631103515625)}
{'spans': [{'size': 9.908175468444824, 'flags': 16, 'font': 'CIDFont+F4', 'color': 659228, 'ascender': 0.75, 'descender': -0.25, 'text': 'Business Intelligence & Data Engineer, BOWPI, Guatemala ', 'origin': (65.63999938964844, 341.4000244140625), 'bbox': (65.63999938964844, 333.9689025878906, 305.60321044921875, 343.8770751953125), 'page_num': 1, 'line_num': 20}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 333.9689025878906, 305.60321044921875, 343.8770751953125)}
{'spans': [{'size': 6.530369758605957, 'flags': 0, 'font': 'CIDFont+F1', 'color': 9937331, 'ascender': 0.75, 'descender': -0.25, 'text': 'JU NE 20 2 1 —  A T PR ES E NT(FR E EL ANCE)  ', 'origin': (65.63999938964844, 354.0), 'bbox': (65.63999938964844, 349.10223388671875, 202.62158203125, 355.6325988769531), 'page_num': 1, 'line_num': 21}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 349.10223388671875, 202.62158203125, 355.6325988769531)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 370.08001708984375), 'bbox': (76.08000183105469, 366.195556640625, 79.20829772949219, 371.37481689453125), 'page_num': 1, 'line_num': 22}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 370.08001708984375), 'bbox': (79.19999694824219, 365.391357421875, 80.63896179199219, 371.1775817871094), 'page_num': 1, 'line_num': 22}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Work in the entire lifecycle of the BI projects in BOWPI. ', 'origin': (85.44000244140625, 370.08001708984375), 'bbox': (85.44000244140625, 363.07110595703125, 298.4112243652344, 372.41632080078125), 'page_num': 1, 'line_num': 22}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 363.07110595703125, 298.4112243652344, 372.41632080078125)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 382.67999267578125), 'bbox': (76.08000183105469, 378.7955322265625, 79.20829772949219, 383.97479248046875), 'page_num': 1, 'line_num': 23}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 382.67999267578125), 'bbox': (79.19999694824219, 377.9913330078125, 80.63896179199219, 383.7775573730469), 'page_num': 1, 'line_num': 23}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Extract and organize the automatic collection of data in different ', 'origin': (85.44000244140625, 382.67999267578125), 'bbox': (85.44000244140625, 375.67108154296875, 334.3555603027344, 385.01629638671875), 'page_num': 1, 'line_num': 23}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 375.67108154296875, 334.3555603027344, 385.01629638671875)}
{'spans': [{'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'formats (structured and no structured data). ', 'origin': (85.44000244140625, 395.4000244140625), 'bbox': (85.44000244140625, 388.39111328125, 257.31756591796875, 397.736328125), 'page_num': 1, 'line_num': 24}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (85.44000244140625, 388.39111328125, 257.31756591796875, 397.736328125)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 408.0), 'bbox': (76.08000183105469, 404.11553955078125, 79.20829772949219, 409.2947998046875), 'page_num': 1, 'line_num': 25}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 408.0), 'bbox': (79.19999694824219, 403.31134033203125, 80.63896179199219, 409.0975646972656), 'page_num': 1, 'line_num': 25}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Secure the Data Warehouse service in the Redshift Database.  ', 'origin': (85.44000244140625, 408.0), 'bbox': (85.44000244140625, 400.9910888671875, 323.1670837402344, 410.3363037109375), 'page_num': 1, 'line_num': 25}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 400.9910888671875, 323.1670837402344, 410.3363037109375)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 420.5999755859375), 'bbox': (76.08000183105469, 416.71551513671875, 79.20829772949219, 421.894775390625), 'page_num': 1, 'line_num': 26}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 420.5999755859375), 'bbox': (79.19999694824219, 415.91131591796875, 80.63896179199219, 421.6975402832031), 'page_num': 1, 'line_num': 26}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Design Dashboards or Reports using Tableau or Superset. ', 'origin': (85.44000244140625, 420.5999755859375), 'bbox': (85.44000244140625, 413.591064453125, 305.8891296386719, 422.936279296875), 'page_num': 1, 'line_num': 26}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 413.591064453125, 305.8891296386719, 422.936279296875)}
{'spans': [{'size': 9.908175468444824, 'flags': 16, 'font': 'CIDFont+F4', 'color': 659228, 'ascender': 0.75, 'descender': -0.25, 'text': 'Head of Data Warehouse & Business Intelligence, Multigroup, ', 'origin': (65.63999938964844, 442.67999267578125), 'bbox': (65.63999938964844, 435.2488708496094, 321.0179138183594, 445.15704345703125), 'page_num': 1, 'line_num': 27}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 435.2488708496094, 321.0179138183594, 445.15704345703125)}
{'spans': [{'size': 9.908175468444824, 'flags': 16, 'font': 'CIDFont+F4', 'color': 659228, 'ascender': 0.75, 'descender': -0.25, 'text': 'Guatemala ', 'origin': (65.63999938964844, 454.67999267578125), 'bbox': (65.63999938964844, 447.2488708496094, 112.82998657226562, 457.15704345703125), 'page_num': 1, 'line_num': 28}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 447.2488708496094, 112.82998657226562, 457.15704345703125)}
{'spans': [{'size': 6.530369758605957, 'flags': 0, 'font': 'CIDFont+F1', 'color': 9937331, 'ascender': 0.75, 'descender': -0.25, 'text': 'A UG US T 2 01 9 —  J UNE  2 02 1  ', 'origin': (65.63999938964844, 467.27996826171875), 'bbox': (65.63999938964844, 462.3822021484375, 163.83108520507812, 468.9125671386719), 'page_num': 1, 'line_num': 29}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (65.63999938964844, 462.3822021484375, 163.83108520507812, 468.9125671386719)}
{'spans': [{'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': '●', 'origin': (76.08000183105469, 483.4800109863281), 'bbox': (76.08000183105469, 479.5955810546875, 79.20829772949219, 484.77484130859375), 'page_num': 1, 'line_num': 30}, {'size': 5.17926025390625, 'flags': 0, 'font': 'CIDFont+F5', 'color': 3882306, 'ascender': 0.9052734375, 'descender': -0.2119140625, 'text': ' ', 'origin': (79.19999694824219, 483.4800109863281), 'bbox': (79.19999694824219, 478.7913513183594, 80.63896179199219, 484.57757568359375), 'page_num': 1, 'line_num': 30}, {'size': 9.34522533416748, 'flags': 0, 'font': 'CIDFont+F1', 'color': 3882306, 'ascender': 0.75, 'descender': -0.25, 'text': 'Lead the Multigroup BI projects. ', 'origin': (85.44000244140625, 483.4800109863281), 'bbox': (85.44000244140625, 476.4710998535156, 210.59120178222656, 485.8163146972656), 'page_num': 1, 'line_num': 30}], 'wmode': 0, 'dir': (1.0, 0.0), 'bbox': (76.08000183105469, 476.4710998535156, 210.59120178222656, 485.8163146972656)}

Dataframe creation with all variable extracted for each text line.



*   Font Size
*   Font Color
*   Page Number
*   Line Number
*   Bold Font (Boolean)
*   Uppercase line (Boolean)

In [106]:
rows = []

for page_num, blocks in block_dict.items():
    for block in blocks:
        if block['type'] == 0:
            for line in block['lines']:
                for span in line['spans']:
                    xmin, ymin, xmax, ymax = list(span['bbox'])
                    font_size = span['size']
                    color = span['color']
                    text = unidecode(span['text'])
                    span_font = span['font']
                    num_page = span["page_num"]
                    line_num = span['line_num']
                    block_num = block['number']
                    is_upper = False
                    is_bold = False 
                    if "bold" in span_font.lower():
                        is_bold = True 
                    if re.sub("[\(\[].*?[\)\]]", "", text).isupper():
                        is_upper = True
                    if text.replace(" ","") !=  "":
                        rows.append((xmin, ymin, xmax, ymax, line_num, block_num, num_page, text, is_upper, is_bold, span_font, font_size, color))
                        

span_df = pd.DataFrame(rows, columns=['xmin','ymin','xmax','ymax', 'line_num', 'block_num', "page_num", 'text', 'is_upper','is_bold','span_font', 'font_size', 'color'])

In [107]:
span_df

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color
0,123.240005,47.323578,219.363770,70.966377,4,6,1,Melvin Leal,False,False,CIDFont+F3,20.604450,659228
1,123.240005,77.182220,326.765900,83.712593,5,7,1,B US I NES S I NT E LLIG E NCE A ND DA TA ...,True,False,CIDFont+F1,6.530370,659228
2,65.639999,106.343773,114.630211,120.296867,6,8,1,About me,False,False,CIDFont+F3,12.159975,659228
3,65.639999,129.071075,358.299347,138.416306,7,9,1,IT professional with 14+ years of experience. ...,False,False,CIDFont+F1,9.345225,3882306
4,65.639999,141.791077,329.714172,151.136292,8,9,1,"specialized in the Business Intelligence area,...",False,False,CIDFont+F1,9.345225,3882306
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,65.639999,580.871094,164.155472,590.216309,118,30,2,sergio.alonzo@gmail.com,False,False,CIDFont+F1,9.345225,535117
115,164.279999,580.871094,218.317825,590.216309,118,30,2,* 5067-4361,False,False,CIDFont+F1,9.345225,3882306
116,65.639999,602.648865,258.958679,612.557068,119,31,2,Noe Gualim from Credito Hipotecario Nacional,False,False,CIDFont+F4,9.908175,659228
117,65.639999,618.311096,137.012680,627.656311,120,32,2,ageon@gmail.com,False,False,CIDFont+F1,9.345225,535117
118,137.040009,618.311096,191.095917,627.656311,120,32,2,* 4149-9120,False,False,CIDFont+F1,9.345225,3882306

In [108]:
span_df

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color
0,123.240005,47.323578,219.363770,70.966377,4,6,1,Melvin Leal,False,False,CIDFont+F3,20.604450,659228
1,123.240005,77.182220,326.765900,83.712593,5,7,1,B US I NES S I NT E LLIG E NCE A ND DA TA ...,True,False,CIDFont+F1,6.530370,659228
2,65.639999,106.343773,114.630211,120.296867,6,8,1,About me,False,False,CIDFont+F3,12.159975,659228
3,65.639999,129.071075,358.299347,138.416306,7,9,1,IT professional with 14+ years of experience. ...,False,False,CIDFont+F1,9.345225,3882306
4,65.639999,141.791077,329.714172,151.136292,8,9,1,"specialized in the Business Intelligence area,...",False,False,CIDFont+F1,9.345225,3882306
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,65.639999,580.871094,164.155472,590.216309,118,30,2,sergio.alonzo@gmail.com,False,False,CIDFont+F1,9.345225,535117
115,164.279999,580.871094,218.317825,590.216309,118,30,2,* 5067-4361,False,False,CIDFont+F1,9.345225,3882306
116,65.639999,602.648865,258.958679,612.557068,119,31,2,Noe Gualim from Credito Hipotecario Nacional,False,False,CIDFont+F4,9.908175,659228
117,65.639999,618.311096,137.012680,627.656311,120,32,2,ageon@gmail.com,False,False,CIDFont+F1,9.345225,535117
118,137.040009,618.311096,191.095917,627.656311,120,32,2,* 4149-9120,False,False,CIDFont+F1,9.345225,3882306

In [109]:
span_df[round(span_df['xmin'],6)==46.584000]

Empty DataFrame
Columns: [xmin, ymin, xmax, ymax, line_num, block_num, page_num, text, is_upper, is_bold, span_font, font_size, color]
Index: []

In [110]:
span_df.groupby('xmin').size()

xmin
65.639999     48
76.080002     18
85.440002     25
123.240005     2
137.040009     1
156.600006     1
164.279999     1
434.519989    23
dtype: int64

## Data Handling

### Columns Pre bucketing

As can be seen in the dataframe, there is text from the same line separated by rows. This for/while loop joins them together with its correct bbox values per variable.

In [111]:
span_df[span_df['block_num']==9]

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color
3,65.639999,129.071075,358.299347,138.416306,7,9,1,IT professional with 14+ years of experience. ...,False,False,CIDFont+F1,9.345225,3882306
4,65.639999,141.791077,329.714172,151.136292,8,9,1,"specialized in the Business Intelligence area,...",False,False,CIDFont+F1,9.345225,3882306
5,65.639999,154.391083,340.942657,163.736298,9,9,1,insurance and the manufactured industry. Indus...,False,False,CIDFont+F1,9.345225,3882306
6,65.639999,166.991089,333.101776,176.336304,10,9,1,participated in many projects as Data Architec...,False,False,CIDFont+F1,9.345225,3882306
7,65.639999,179.711090,336.799530,189.056305,11,9,1,"Warehouse and Business Intelligence Role, Data...",False,False,CIDFont+F1,9.345225,3882306
8,65.639999,192.071075,273.237427,201.416306,12,9,1,"Engineer Role, which is the one that I am perf...",False,False,CIDFont+F1,9.345225,3882306
92,65.639999,196.103790,108.368767,210.056885,97,9,2,Courses,False,False,CIDFont+F3,12.159975,659228

In [112]:
span_df.groupby('block_num')['line_num'].nunique()

block_num
3     1
4     2
5     1
6     2
7     3
8     2
9     7
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    2
19    2
20    2
21    2
22    2
23    2
24    3
25    2
26    2
27    2
28    2
29    2
30    2
31    2
32    2
33    1
34    1
35    1
36    1
37    1
38    1
39    2
40    1
41    1
44    1
45    3
46    1
47    1
48    1
49    1
50    1
51    1
52    1
53    1
54    1
55    1
56    1
57    1
58    1
59    1
60    1
61    1
62    1
63    1
64    1
Name: line_num, dtype: int64

In [113]:
## Merge text from same line
deletion = []

for index, line in enumerate(span_df.line_num):
  
  try :

    contador = 1
    while span_df.loc[index, 'line_num'] == span_df.loc[(index + contador), 'line_num']: 
      span_df.loc[index, 'text'] = [span_df.loc[index,'text'] + " " + span_df.loc[index+contador, 'text']]
      deletion.append(index+contador)
      contador += 1

    if contador > 1:
      span_df.loc[index, 'xmin'] = [min(span_df.loc[index:index+contador - 1,'xmin'])]
      span_df.loc[index, 'ymin'] = [min(span_df.loc[index:index+contador - 1,'ymin'])]
      span_df.loc[index, 'xmax'] = [max(span_df.loc[index:index+contador - 1,'xmax'])]
      span_df.loc[index, 'ymax'] = [max(span_df.loc[index:index+contador - 1,'ymax'])]

  except KeyError as error :
    continue

In [114]:
span_df.drop(deletion, axis = 0, inplace= True)
span_df.reset_index(drop = True, inplace = True)

Columns differentiatior

In [115]:
import statistics

differences = [abs(span_df.xmin.to_list()[i] - span_df.xmin.to_list()[i-1]) for i in range(1, len(span_df.xmin.to_list()))]
mean_difference = statistics.mean(differences)
stdev_difference = statistics.stdev(differences)
threshold = mean_difference + 3 * stdev_difference
threshold, mean_difference, stdev_difference

(164.22839610111095, 10.025567123570394, 51.400942992513514)

In [116]:
## 1=Right, 0=Left
span_df['Col_Type'] = np.where(span_df['xmin'] > threshold, 1, 0)

In [117]:
right_col = span_df[span_df['Col_Type'] == 1]
left_col = span_df[span_df['Col_Type'] == 0]

In [118]:
span_df = span_df.sort_values(by = ['Col_Type', 'page_num', 'ymin'], ascending = [True, True, True])
span_df.reset_index(drop =True, inplace= True)

In [119]:
for index in range(len(span_df['xmin'])):
  if span_df['text'][index][-1] == ' ':
    span_df['text'][index] = span_df['text'][index][:-1]

/var/folders/v2/qknnv4n91jg_n5dynkby31nh0000gp/T/ipykernel_14828/1088339311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  span_df['text'][index] = span_df['text'][index][:-1]

In [120]:
span_df

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color,Col_Type
0,123.240005,47.323578,219.363770,70.966377,4,6,1,Melvin Leal,False,False,CIDFont+F3,20.604450,659228,0
1,123.240005,77.182220,326.765900,83.712593,5,7,1,B US I NES S I NT E LLIG E NCE A ND DA TA ...,True,False,CIDFont+F1,6.530370,659228,0
2,65.639999,106.343773,114.630211,120.296867,6,8,1,About me,False,False,CIDFont+F3,12.159975,659228,0
3,65.639999,129.071075,358.299347,138.416306,7,9,1,IT professional with 14+ years of experience. ...,False,False,CIDFont+F1,9.345225,3882306,0
4,65.639999,141.791077,329.714172,151.136292,8,9,1,"specialized in the Business Intelligence area,...",False,False,CIDFont+F1,9.345225,3882306,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,434.519989,477.989075,470.368805,489.875122,76,60,1,Hobbies,False,False,CIDFont+F3,10.358550,16777215,1
94,434.519989,498.986664,507.770081,507.431122,77,61,1,Travel Sports History,False,False,CIDFont+F1,8.444475,16777215,1
95,434.519989,528.269104,481.599670,540.155151,78,62,1,Languages,False,False,CIDFont+F3,10.358550,16777215,1
96,434.519989,549.266602,460.621552,557.711121,79,63,1,English,False,False,CIDFont+F1,8.444475,16777215,1
97,434.519989,572.306641,462.949066,580.751160,83,64,1,Spanish,False,False,CIDFont+F1,8.444475,16777215,1

In [121]:
span_df[span_df['Col_Type']==1]['text'].values

array(['Information', 'Guatemala, Guatemala', '(502) 54609667',
       'melvin1020@gmail.com', 'DA T E OF  BIR T H', '04-14-1988',
       'Links to social media', 'LinkedIn', 'Skills',
       'Business Intelligence', 'Effective Communication',
       'Strategic Planning', 'Leadership', 'Python for Data Science',
       'Data Analysis', 'Data Visualization', 'Data Engineering',
       'Relational and No SQL Database', 'Hobbies',
       'Travel Sports History', 'Languages', 'English', 'Spanish'],
      dtype=object)

### Date Lookup

#### Dates (RE Expressions)

Types of dates found

* mm/XXXX
* ##/XXXX
* Mo - XXXX
* MONTH - XXXX

In [122]:
month_map = {
    'january': '1', 'february': '2', 'march': '3', 'april': '4', 'may': '5', 'june': '6',
    'july': '7', 'august': '8', 'september': '9', 'october': '10', 'november': '11', 'december': '12',
    'enero': '1', 'febrero': '2', 'marzo': '3', 'abril': '4', 'mayo': '5', 'junio': '6',
    'julio': '7', 'agosto': '8', 'septiembre': '9', 'octubre': '10', 'noviembre': '11', 'deciembre': '12',
    'jan': '1', 'feb': '2', 'mar': '3', 'apr': '4', 'may': '5', 'jun': '6',
    'jul': '7', 'aug': '8', 'sep': '9', 'oct': '10', 'nov': '11', 'dec': '12',
    'ene': '1', 'feb': '2', 'mar': '3', 'abr': '4', 'may': '5', 'jun': '6',
    'jul': '7', 'ago': '8', 'sep': '9', 'oct': '10', 'nov': '11', 'dic': '12',
}

In [123]:
import datetime
#from datetime import datetime


def date(df, test, index):

  """
  Desintegrates list of tuples date into list of date in format mm-yy
  """

  for num, date in enumerate(test): 
    month = date[0].lower()
    year = date[-1]
    if month in month_map:
        month = month_map[month]
        new_date = month + '-' + year
    elif (month.isdigit() and int(month) <= 12) :
        new_date = month + '-' + year
    else :
      new_date = datetime.date.today().strftime("%m-%Y")
    test[num] = new_date

  ##
  #print(test)
  ##

  if len(test) > 1:
    df.loc[index, 'start'] = [test[0]]
    df.loc[index, 'end'] = [test[-1]]
    df.loc[index, 'start'] = [pd.to_datetime(df.loc[index, 'start'],format='%m-%Y').to_period('M')]
    df.loc[index, 'end'] = [pd.to_datetime(df.loc[index, 'end'],format='%m-%Y').to_period('M')]
    df.loc[index, 'Exp_time'] = [(df.loc[index, 'end'].year - df.loc[index, 'start'].year)*12 + (df.loc[index, 'end'].month - df.loc[index, 'start'].month)] 

  else : # SOLAMENTE SI TEXTO TIENE ACTUALIDAD-PRESENTE-PRESENT-ONGOING
    df.loc[index, 'start'] = test[0]
    df.loc[index, 'end'] = np.nan
    df.loc[index, 'start'] = [pd.to_datetime(df.loc[index, 'start'],format='%m-%Y').to_period('M')]
    #df.loc[index, 'end'] = [pd.to_datetime(df.loc[index, 'end'],format='%m-%Y').to_period('M')]
    #df.loc[index, 'Exp_time'] = [(df.loc[index, 'end'].year - df.loc[index, 'start'].year)*12 + (df.loc[index, 'end'].month - df.loc[index, 'start'].month)]

  ##

  

  return df

In [124]:
import re

pattern_let = r'\b(january|february|march|april|may|june|july|august|september|october|november|december|enero|febrero|marzo|abril|mayo|junio|julio|augosto|septiembre|octubre|noviembre|deciciembre|jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec|ene|feb|mar|abr|may|jun|jul|ago|sep|oct|nov|dic)\b[-/\s]*(de\s)*\b([0-9]{1,2}|[0-9]{4})\b'
pattern_num = r'\b([0-9]{1,2})[-/]([0-9]{4})\b | \b[0-9]{4}\b'
pattern_on_let = r'\b(january|february|march|april|may|june|july|august|september|october|november|december|enero|febrero|marzo|abril|mayo|junio|julio|augosto|septiembre|octubre|noviembre|deciciembre|jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec|ene|feb|mar|abr|may|jun|jul|ago|sep|oct|nov|dic)\b[-/\s]*(de\s)*\b([0-9]{1,2}|[0-9]{4})\b - (present|ongoing|Actualidad|presente|today)'
pattern_on_num = r'(\b([0-9]{1,2})[-/]([0-9]{4})\b (-|–) (present|ongoing|actualidad|presente|today))'


for a in sections_dict.keys():
  sections_dict[a]['start'] = np.nan
  sections_dict[a]['end'] = np.nan
  sections_dict[a]['Exp_time'] = 0
  for b, c in enumerate(sections_dict[a]['text']):
    if re.findall(pattern_on_let, c, re.IGNORECASE) :
      tuples_list = re.findall(pattern_on_let, c, re.IGNORECASE)
      for match in tuples_list:
        month, de, year, status = match
        tuples_list = [(month, de, year), (status)]
      sections_dict[a] = date(sections_dict[a], tuples_list, b)
    elif re.findall(pattern_let, c, re.IGNORECASE) :
      tuples_list = re.findall(pattern_let, c, re.IGNORECASE)
      sections_dict[a] = date(sections_dict[a], tuples_list, b)
    elif re.findall(pattern_on_num, c, re.IGNORECASE) :
      print(c)
      tuples_list = re.findall(pattern_on_num, c, re.IGNORECASE)
      for match in tuples_list:
        month, year, de, status = match
        tuples_list = [(month, de, year), (status)]
      sections_dict[a] = date(sections_dict[a], tuples_list, b)
    elif re.findall(pattern_num, c, re.IGNORECASE) :
      tuples_list = re.findall(pattern_num, c, re.IGNORECASE)
      sections_dict[a] = date(sections_dict[a], tuples_list, b)

In [125]:
sections_dict[EXPERIENCE]

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,...,font_size,color,Col_Type,start_date,end_date,exp_time,diff_xmin,start,end,Exp_time
0,108.050003,190.635986,214.368439,204.363098,5,3,1,WORK EXPERIENCE,True,False,...,10.080,5210556,0,NaT,NaT,0,NaN,NaN,NaN,0
1,126.290001,219.762115,238.149063,232.181885,129,152,1,SENIOR DATA ENGINEER,True,True,...,9.120,7105644,0,NaT,NaT,0,18.239998,NaN,NaN,0
2,56.664001,221.350800,84.151970,230.829041,131,155,1,Present,False,False,...,6.960,7105644,0,NaT,NaT,0,69.625999,NaN,NaN,0
3,125.809998,231.364685,179.487335,242.150269,124,147,1,At Blankfactor,False,False,...,7.920,7105644,0,NaT,NaT,0,69.145996,NaN,NaN,0
4,55.464001,232.390778,84.151970,241.869019,132,156,1,05-2022,False,False,...,6.960,7105644,0,2022-05-05,NaT,0,70.345997,NaN,NaN,0
5,140.449997,247.030792,361.707977,256.509033,126,149,1,"Developing and optimizing views, procedures, a...",False,False,...,6.960,7105644,0,NaT,NaT,0,84.985996,NaN,NaN,0
6,126.290001,247.472595,129.491333,255.999268,125,149,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
7,140.449997,258.070831,334.087982,267.549072,128,150,1,Developing data loads and transformations in S...,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
8,126.290001,258.512634,129.491333,267.039307,127,150,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
9,127.010002,277.576447,255.435287,290.028870,102,121,1,ADVANCED DATA ENGINEER,True,True,...,9.144,7105644,0,NaT,NaT,0,0.720001,NaN,NaN,0
10,56.183998,279.165161,84.878204,288.676086,104,124,1,04-2022,False,False,...,6.984,7105644,0,2022-04-04,NaT,0,70.826004,NaN,NaN,0
11,126.529999,289.234741,269.277344,300.020325,93,114,1,At Growth Acceleration Partners (GAP),False,False,...,7.920,7105644,0,NaT,NaT,0,70.346001,NaN,NaN,0
12,56.183998,290.020782,84.871971,299.499023,105,125,1,07-2021,False,False,...,6.960,7105644,0,2021-07-07,NaT,0,70.346001,NaN,NaN,0
13,141.169998,304.900787,287.767975,314.379028,95,116,1,Leading an MDM Project with Profisee tool.,False,False,...,6.960,7105644,0,NaT,NaT,0,84.986000,NaN,NaN,0
14,127.010002,305.342590,130.211334,313.869263,94,116,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
15,141.169998,315.940826,369.867981,325.419067,97,117,1,Developing solutions in Azure Data Factory int...,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
16,127.010002,316.382629,130.211334,324.909302,96,117,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
17,141.169998,326.980804,258.707977,336.459045,99,118,1,Developing Databricks Notebooks.,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
18,127.010002,327.422607,130.211334,335.949280,98,118,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
19,141.169998,337.780792,308.647980,347.259033,101,119,1,Developing and optimizing ETLs and SQL Objects.,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
20,127.010002,338.222595,130.211334,346.749268,100,119,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
21,126.290001,358.486450,330.815308,370.938873,18,16,1,SENIOR BUSINESS INTELLIGENCE DEVELOPER,True,True,...,9.144,7105644,0,NaT,NaT,0,0.720001,NaN,NaN,0
22,55.223999,359.140808,83.911964,368.619049,20,20,1,06-2021,False,False,...,6.960,7105644,0,2021-06-06,NaT,0,71.066002,NaN,NaN,0
23,125.809998,369.654724,250.875793,380.440308,19,18,1,At Tata Consultancy Services (TCS),False,False,...,7.920,7105644,0,NaT,NaT,0,70.585999,NaN,NaN,0
24,55.223999,370.200806,83.911964,379.679047,21,21,1,06-2019,False,False,...,6.960,7105644,0,2019-06-06,NaT,0,70.585999,NaN,NaN,0
25,140.449997,385.560791,375.219635,395.039032,10,9,1,Leading and supervising software solutions wit...,False,False,...,6.960,7105644,0,NaT,NaT,0,85.225998,NaN,NaN,0
26,126.290001,386.002594,129.491333,394.529266,9,9,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
27,140.449997,396.360809,186.917969,405.839050,11,10,1,technologies.,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
28,140.449997,407.400818,350.476624,416.879059,13,11,1,Intermediating between the factory and the cus...,False,False,...,6.960,7105644,0,NaT,NaT,0,0.000000,NaN,NaN,0
29,126.290001,407.842621,129.491333,416.369293,12,11,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
30,140.449997,418.440796,188.357971,427.919037,14,12,1,impediments.,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
31,140.449997,429.240814,353.067963,438.719055,16,13,1,"Designing, developing, and optimizing data war...",False,False,...,6.960,7105644,0,NaT,NaT,0,0.000000,NaN,NaN,0
32,126.290001,429.682617,129.491333,438.209290,15,13,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
33,140.449997,440.280792,241.427963,449.759033,17,14,1,operational reports and ETLs.,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
34,126.529999,458.392090,364.429047,470.811859,51,50,1,INTERMEDIATE BUSINESS INTELLIGENCE DEVELOPER,True,True,...,9.120,7105644,0,NaT,NaT,0,13.919998,NaN,NaN,0
35,55.703999,459.980804,84.391968,469.459045,53,53,1,06-2019,False,False,...,6.960,7105644,0,2019-06-06,NaT,0,70.826000,NaN,NaN,0
36,126.050003,469.994720,224.397339,480.780304,47,45,1,At IG Services (Intergrupo),False,False,...,7.920,7105644,0,NaT,NaT,0,70.346004,NaN,NaN,0
37,55.703999,471.020813,84.391968,480.499054,54,54,1,02-2017,False,False,...,6.960,7105644,0,2017-02-02,NaT,0,70.346004,NaN,NaN,0
38,140.690002,485.660797,384.987976,495.139038,49,47,1,"Designing, developing, and optimizing data war...",False,False,...,6.960,7105644,0,NaT,NaT,0,84.986004,NaN,NaN,0
39,126.529999,486.102600,129.731323,494.629272,48,47,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.160004,NaN,NaN,0
40,140.690002,496.700806,342.007996,506.179047,50,48,1,"operational and analytical reports, multidimen...",False,False,...,6.960,7105644,0,NaT,NaT,0,14.160004,NaN,NaN,0
41,126.290001,515.992126,291.209045,528.411865,69,73,1,INTERMEDIATE SOFTWARE ANALYST,True,True,...,9.120,7105644,0,NaT,NaT,0,14.400002,NaN,NaN,0
42,55.464001,517.580811,84.151970,527.059082,71,76,1,02-2017,False,False,...,6.960,7105644,0,2017-02-02,NaT,0,70.826000,NaN,NaN,0
43,125.809998,527.569092,186.693588,538.387329,63,67,1,At Personal Soft,False,False,...,7.944,7105644,0,NaT,NaT,0,70.345997,NaN,NaN,0
44,55.464001,528.620789,84.151970,538.099060,72,77,1,10-2013,False,False,...,6.960,7105644,0,2013-10-10,NaT,0,70.345997,NaN,NaN,0
45,140.449997,543.290771,350.765564,552.769043,65,69,1,"Designing, developing and optimizing data ware...",False,False,...,6.960,7105644,0,NaT,NaT,0,84.985996,NaN,NaN,0
46,126.290001,543.732605,129.491333,552.259277,64,69,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
47,140.449997,554.330811,241.427963,563.809082,66,70,1,operational reports and ETLs.,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0
48,140.449997,565.370789,309.607971,574.849060,68,71,1,Developing software solutions in ASP.NET and C#.,False,False,...,6.960,7105644,0,NaT,NaT,0,0.000000,NaN,NaN,0
49,126.290001,565.812622,129.491333,574.339294,67,71,1,*,False,False,...,6.960,7105644,0,NaT,NaT,0,14.159996,NaN,NaN,0

**Date Testing code**

In [ ]:
texto = 'Data Developer - 06/2022 - present'
#pattern = r'\b(january|february|march|april|may|june|july|august|september|october|november|december|enero|febrero|marzo|abril|mayo|junio|julio|augosto|septiembre|octubre|noviembre|deciciembre|jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec|ene|feb|mar|abr|may|jun|jul|ago|sep|oct|nov|dic)\b[-/\s]*(de\s)*\b([0-9]{1,2}|[0-9]{4})\b - (present|ongoing|Actualidad|presente|today)'
pattern = r'(\b([0-9]{1,2})[-/]([0-9]{4})\b - (present|ongoing|actualidad|presente|today))'
test = re.findall(pattern, texto, re.IGNORECASE)

for match in test:
  month, year, de, status = match
  test = [(month, de, year), (status)]

print(test)

for num, date in enumerate(test): 
  month = date[0].lower()
  year = date[-1]
  print(month)
  if month in month_map:
      print(month)
      month = month_map[month]
      new_date = month + '-' + year
  elif (month.isdigit() and int(month) <= 12) :
      new_date = month + '-' + year
  else :
    new_date = datetime.date.today().strftime("%m-%Y")
  test[num] = new_date

test

#### Dates (Dateutil Library)

In [38]:
month_map = {
    'january': '1', 'february': '2', 'march': '3', 'april': '4', 'may': '5', 'june': '6',
    'july': '7', 'august': '8', 'september': '9', 'october': '10', 'november': '11', 'december': '12',
    'enero': '1', 'febrero': '2', 'marzo': '3', 'abril': '4', 'mayo': '5', 'junio': '6',
    'julio': '7', 'agosto': '8', 'septiembre': '9', 'octubre': '10', 'noviembre': '11', 'diciembre': '12',
    'jan': '1', 'feb': '2', 'mar': '3', 'apr': '4', 'may': '5', 'jun': '6',
    'jul': '7', 'aug': '8', 'sep': '9', 'oct': '10', 'nov': '11', 'dec': '12',
    'ene': '1', 'feb': '2', 'mar': '3', 'abr': '4', 'may': '5', 'jun': '6',
    'jul': '7', 'ago': '8', 'sep': '9', 'oct': '10', 'nov': '11', 'dic': '12',
}

ongoing = ['present', 'actualidad', 'today', 'presente', 'ongoing', 'currently', 'current', 'hasta la fecha']

symbols = ['-', ',', '(', ')', ':', '.']

min_year = 1900
max_year = 2100
years_av = list(map(lambda x: str(x), list(range(min_year,max_year))))

In [39]:
def joining(palabras, keywords):
  
  for index, item in enumerate(palabras):
      concatenated_string = item.lower()
      result = [key for key in keywords if concatenated_string in key]
      contador = 1

      """if index == len(palabras) - 1 or len(palabras) == 1: 
        contador = 0
      else : 
        contador = 1"""

      while result and len(palabras) > 1 and index < len(palabras) - 1 and (index + contador) <= len(palabras) - 1:
        concatenated_string += palabras[index+contador].lower()
        result = [key for key in keywords if concatenated_string in key]
        contador += 1

        if concatenated_string in keywords:
            if index+contador == len(palabras)-1:
              palabras.append(palabras[-1])
            del palabras[index:index+contador]
            palabras.insert(index, concatenated_string)
            
            break

      else:
        concatenated_string = ''

  return palabras

In [40]:
def sep_char(text):
  words = text.split()
  
  for i, word in enumerate(words):
        if any(symbol in word for symbol in symbols):
            split_date = re.split('|'.join(re.escape(s) for s in symbols), word)
            words[i:i+1] = split_date

  words = [word for word in words if word != '']

  return words

In [41]:
from dateutil import parser
import datetime
import re


def extract_dates(text, min_year, max_year, symbols, ongoing, years_av):
    dates = []
    year = 0
    year_list = []
    month = 0
    month_list = []
    
    words = sep_char(text)
    words = joining(words, list(month_map.keys())[0:25])
    words = joining(words, ongoing)
    words = joining(words, years_av)

    print(words)
    for index, word in enumerate(words):
        if word.isdigit() and (int(word) > min_year and int(word) < max_year):
            year = int(word)
            year_list.append(year)

        elif word.lower() in month_map:
            word = word.lower()
            month = int(month_map[word])
            month_list.append(month)

        elif index < len(words) - 1 and word.isdigit() and int(word) <= 12:
            if words[index+1].isdigit() and (int(words[index+1]) > min_year and int(words[index+1]) < max_year):
                month = int(word)
                month_list.append(month)
                year = int(words[index+1])
                year_list.append(year)


        elif re.findall(r'\b([0-9]{1,2})[-/]([0-9]{4})\b', word, re.IGNORECASE):
            date_parts = word.split("/")
            
            if len(date_parts) > 2: # agregar check para que el numero sea menor o igual a 12
              month = int(date_parts[1])
              year = int(date_parts[-1])
            else : 
              month = int(date_parts[0])
              year = int(date_parts[-1])

            date = parser.parse(word, default=datetime.datetime(year, month, 1, 0, 0))
            dates.append(date)
            year = 0
            month = 0
            
        if year > 0 and month > 0 :
            try:
                date = parser.parse(word, default=datetime.datetime(year, month, 1, 0, 0))
                dates.append(date)
                year = 0
                month = 0
            except ValueError:
                pass
        elif any(word.lower() in ongoing for ongoing in ongoing) and len(dates) > 0 and (len(month_list) == 1  and len(year_list) == 1): #valorar nuevamente las condiciones
                print(word)
                date = datetime.date.today()
                dates.append(date)
        elif len(year_list) <= 2 and len(month_list) == 0 and index == len(words) - 1:
                for item in year_list:
                  date = parser.parse(str(item), default=datetime.datetime(item, 1, 1, 0, 0))
                  dates.append(date)
                
                if len(dates) == 1 and any(word.lower() in ongoing for ongoing in ongoing):
                  dates.append(datetime.date.today())
                print(dates)
        
    return dates

In [42]:
def delta_dates(something): 
    years = []
    months = []
    
    #print(something)
    if something :
      for item in something:
        years.append(item.year)
        months.append(item.month)
      delta = (years[-1] - years[0])*12 + (months[-1] - months[0])
    
    else :
      delta = 0

    return delta

In [43]:
def assignation(text):

    dates = []
    delta = []
    #len_exp = []
    #indexes = []
    for index, text_line in enumerate(text) : 
      #if extract_dates(text_line):
        #print(text_line)
        dates.append(list(extract_dates(text_line, min_year, max_year, symbols, ongoing, years_av)))

    for item in dates :
      delta.append(delta_dates(item))
      #len_exp.append(len(dates))

    return dates, delta

In [44]:
dates, delta = assignation(span_df.text)

start_dates = [d[0] if len(d) > 0 else None for d in dates]
end_dates = [d[1] if len(d) > 1 else None for d in dates]
exp_time = [t for t in delta]   

span_df['start_date'] = start_dates
span_df['end_date'] = end_dates
span_df['exp_time'] = exp_time

span_df

['SEBASTIAN']
[]
['MARTINEZ', 'ORTIZ']
[]
['WORK', 'EXPERIENCE']
[]
['SENIOR', 'DATA', 'ENGINEER']
[]
['Present']
[]
['At', 'Blankfactor']
[]
['05', '2022']
['Developing', 'and', 'optimizing', 'views', 'procedures', 'and', 'ELT', 'processes']
[]
['*']
[]
['Developing', 'data', 'loads', 'and', 'transformations', 'in', 'Snowflake']
[]
['*']
[]
['ADVANCED', 'DATA', 'ENGINEER']
[]
['04', '2022']
['At', 'Growth', 'Acceleration', 'Partners', 'GAP']
[]
['07', '2021']
['Leading', 'an', 'MDM', 'Project', 'with', 'Profisee', 'tool']
[]
['*']
[]
['Developing', 'solutions', 'in', 'Azure', 'Data', 'Factory', 'integrated', 'with', 'DevOps']
[]
['*']
[]
['Developing', 'Databricks', 'Notebooks']
[]
['*']
[]
['Developing', 'and', 'optimizing', 'ETLs', 'and', 'SQL', 'Objects']
[]
['*']
[]
['SENIOR', 'BUSINESS', 'INTELLIGENCE', 'DEVELOPER']
[]
['06', '2021']
['At', 'Tata', 'Consultancy', 'Services', 'TCS']
[]
['06', '2019']
['Leading', 'and', 'supervising', 'software', 'solutions', 'with', 'Business', 'Intelligence']
[]
['*']
[]
['technologies']
[]
['Intermediating', 'between', 'the', 'factory', 'and', 'the', 'customer', 'to', 'solve']
[]
['*']
[]
['impediments']
[]
['Designing', 'developing', 'and', 'optimizing', 'data', 'warehouse', 'objects']
[]
['*']
[]
['operational', 'reports', 'and', 'ETLs']
[]
['INTERMEDIATE', 'BUSINESS', 'INTELLIGENCE', 'DEVELOPER']
[]
['06', '2019']
['At', 'IG', 'Services', 'Intergrupo']
[]
['02', '2017']
['Designing', 'developing', 'and', 'optimizing', 'data', 'warehouse', 'objects', 'and', 'ETLs']
[]
['*']
[]
['operational', 'and', 'analytical', 'reports', 'multidimensional', 'cubes']
[]
['INTERMEDIATE', 'SOFTWARE', 'ANALYST']
[]
['02', '2017']
['At', 'Personal', 'Soft']
[]
['10', '2013']
['Designing', 'developing', 'and', 'optimizing', 'data', 'warehouse', 'objects']
[]
['*']
[]
['operational', 'reports', 'and', 'ETLs']
[]
['Developing', 'software', 'solutions', 'in', 'ASP', 'NET', 'and', 'C#']
[]
['*']
[]
['EDUCATION']
[]
['IT', 'Engineer']
[]
['Present']
[]
['9', 'semester']
[]
['At', 'Fundacion', 'Universitaria', 'Catolica', 'del', 'Norte']
[]
['Software', 'Analysis', 'and', 'Development', 'Technologist']
[]
['2011', '2013']
[datetime.datetime(2011, 1, 1, 0, 0), datetime.datetime(2013, 1, 1, 0, 0)]
['At', 'Servicio', 'Nacional', 'de', 'Aprendizaje', 'SENA']
[]
['Software', 'Programming', 'Technician']
[]
['2009', '2011']
[datetime.datetime(2009, 1, 1, 0, 0), datetime.datetime(2011, 1, 1, 0, 0)]
['At', 'Servicio', 'Nacional', 'de', 'Aprendizaje', 'SENA']
[]
['CONTACTS']
[]
['Medellin', 'Antioquia', 'Colombia']
[]
['sebas', '7125@gmail', 'com']
[]
['+57', '3003537522']
[]
['https', '//www', 'linkedin', 'com/in/sebastian', 'martinez', 'ortiz/']
[]
['SENIOR', 'DATA', 'ENGINEER']
[]
['WHY', 'ME?']
[]
['I', 'am', 'a', 'responsible', 'and', 'proactive', 'person']
[]
['results', 'driven', 'always', 'looking', 'for', 'the']
[]
['best', 'solution', 'to', 'the', 'problems', 'I', 'am', 'good']
[]
['at', 'working', 'in', 'a', 'team', 'or', 'alone', 'I', 'like', 'to']
[]
['support', 'colleagues', 'in', 'the', 'inconveniences']
[]
['they', 'have', 'I', 'am', 'a', 'leader', 'who', 'positively']
[]
['influences']
[]
['others']
[]
['guiding']
[]
['them']
[]
['to']
[]
['achieve', 'common', 'goals', 'I', 'like', 'to', 'create', 'a']
[]
['work', 'environment', 'based', 'on', 'trust', 'and']
[]
['credibility', 'according', 'to', 'the', 'aptitudes', 'of']
[]
['each', 'one', 'in', 'order', 'to', 'achieve', 'maximum']
[]
['work', 'team', 'performance', 'I', 'love', 'to', 'learn']
[]
['and', 'improve', 'myself', 'every', 'day', 'I', 'am']
[]
['passionate', 'about', 'challenges', 'and', 'I']
[]
['always', 'do', 'my', 'best', 'to', 'achieve', 'the', 'goals', 'I']
[]
['set', 'to', 'myself']
[]
['SKILLS']
[]
['SQL', 'Server']
[]
['MDM']
[]
['Snowflake']
[]
['Azure']
[]
['DevOps']
[]
['Databricks']
[]
['SSIS']
[]
['SSRS']
[]
['SSAS']
[]
['Power', 'BI']
[]
['NET']
[]
['Agile/Scrum']
[]
['Oracle', 'PL/SQL']
[]
['MySQL']
[]
['PHP']
[]
['HTML', 'CSS']
[]
['LANGUAGES']
[]
['Spanish']
[]
['English']
[]
['Portuguese']
[]

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color,Col_Type,start_date,end_date,exp_time
0,314.040009,68.726425,419.357880,88.646423,25,26,1,SEBASTIAN,True,False,Corbel,19.920000,0,0,NaT,NaT,0
1,217.300003,89.218407,414.969330,114.178406,24,25,1,MARTINEZ ORTIZ,True,True,Corbel-Bold,24.959999,0,0,NaT,NaT,0
2,108.050003,190.635986,214.368439,204.363098,5,3,1,WORK EXPERIENCE,True,False,Open Sans Light,10.080000,5210556,0,NaT,NaT,0
3,126.290001,219.762115,238.149063,232.181885,129,152,1,SENIOR DATA ENGINEER,True,True,"Open Sans,Bold",9.120000,7105644,0,NaT,NaT,0
4,56.664001,221.350800,84.151970,230.829041,131,155,1,Present,False,False,Open Sans,6.960000,7105644,0,NaT,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,432.170013,640.924744,473.607330,651.710327,123,144,1,"HTML, CSS",True,False,Open Sans Light,7.920000,7105644,1,NaT,NaT,0
107,425.209991,680.135986,499.128448,693.863098,55,55,1,LANGUAGES,True,False,Open Sans Light,10.080000,5210556,1,NaT,NaT,0
108,432.890015,704.554749,463.987335,715.340332,82,95,1,Spanish,False,False,Open Sans Light,7.920000,7105644,1,NaT,NaT,0
109,432.890015,717.274719,461.107330,728.060303,83,96,1,English,False,False,Open Sans Light,7.920000,7105644,1,NaT,NaT,0
110,432.890015,729.754700,477.207336,740.540283,84,97,1,Portuguese,False,False,Open Sans Light,7.920000,7105644,1,NaT,NaT,0

##### Test Reassignation (DO NOT USE, READ ONLY)

These section is meant to be for those CVs that read ranges of dates in separate lines, the idea is to join them together into one line and to create start and end date. 

It is WORK IN PROGRESS WIP

In [47]:
testo = span_df[span_df['start_date'].notnull() ].reset_index(drop =True)
testo

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color,Col_Type,start_date,end_date,exp_time
0,55.464001,232.390778,84.151970,241.869019,132,156,1,05-2022,False,False,Open Sans,6.960,7105644,0,2022-05-05,NaT,0
1,56.183998,279.165161,84.878204,288.676086,104,124,1,04-2022,False,False,Open Sans,6.984,7105644,0,2022-04-04,NaT,0
2,56.183998,290.020782,84.871971,299.499023,105,125,1,07-2021,False,False,Open Sans,6.960,7105644,0,2021-07-07,NaT,0
3,55.223999,359.140808,83.911964,368.619049,20,20,1,06-2021,False,False,Open Sans,6.960,7105644,0,2021-06-06,NaT,0
4,55.223999,370.200806,83.911964,379.679047,21,21,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,NaT,0
5,55.703999,459.980804,84.391968,469.459045,53,53,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,NaT,0
6,55.703999,471.020813,84.391968,480.499054,54,54,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,NaT,0
7,55.464001,517.580811,84.151970,527.059082,71,76,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,NaT,0
8,55.464001,528.620789,84.151970,538.099060,72,77,1,10-2013,False,False,Open Sans,6.960,7105644,0,2013-10-10,NaT,0
9,48.743999,641.230774,85.831970,650.709045,77,86,1,2011-2013,False,False,Open Sans,6.960,7105644,0,2011-01-01,2013-01-01,24
10,48.023998,670.270752,85.111969,679.749023,81,93,1,2009-2011,False,False,Open Sans,6.960,7105644,0,2009-01-01,2011-01-01,24

In [48]:
testo.start_date[1], testo.start_date[2]

(Timestamp('2022-04-04 00:00:00'), Timestamp('2021-07-07 00:00:00'))

In [49]:
testo.start_date[1] < testo.start_date[2]

False

In [50]:
for a, b in enumerate(testo.start_date):
  i = 1
  if a + i <= len(testo.start_date)-1:
    while b > testo.start_date[a+i] and pd.isnull(testo.end_date[a]): 
      print('IN')
      testo.end_date[a] = testo.start_date[a+i]
      #i += 1 
      break

testo

IN
IN
IN
IN
IN
IN
IN

/var/folders/v2/qknnv4n91jg_n5dynkby31nh0000gp/T/ipykernel_14828/1633539424.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testo.end_date[a] = testo.start_date[a+i]

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color,Col_Type,start_date,end_date,exp_time
0,55.464001,232.390778,84.151970,241.869019,132,156,1,05-2022,False,False,Open Sans,6.960,7105644,0,2022-05-05,2022-04-04,0
1,56.183998,279.165161,84.878204,288.676086,104,124,1,04-2022,False,False,Open Sans,6.984,7105644,0,2022-04-04,2021-07-07,0
2,56.183998,290.020782,84.871971,299.499023,105,125,1,07-2021,False,False,Open Sans,6.960,7105644,0,2021-07-07,2021-06-06,0
3,55.223999,359.140808,83.911964,368.619049,20,20,1,06-2021,False,False,Open Sans,6.960,7105644,0,2021-06-06,2019-06-06,0
4,55.223999,370.200806,83.911964,379.679047,21,21,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,NaT,0
5,55.703999,459.980804,84.391968,469.459045,53,53,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,2017-02-02,0
6,55.703999,471.020813,84.391968,480.499054,54,54,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,NaT,0
7,55.464001,517.580811,84.151970,527.059082,71,76,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,2013-10-10,0
8,55.464001,528.620789,84.151970,538.099060,72,77,1,10-2013,False,False,Open Sans,6.960,7105644,0,2013-10-10,2011-01-01,0
9,48.743999,641.230774,85.831970,650.709045,77,86,1,2011-2013,False,False,Open Sans,6.960,7105644,0,2011-01-01,2013-01-01,24
10,48.023998,670.270752,85.111969,679.749023,81,93,1,2009-2011,False,False,Open Sans,6.960,7105644,0,2009-01-01,2011-01-01,24

In [51]:
testo[testo.end_date.isnull()]

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color,Col_Type,start_date,end_date,exp_time
4,55.223999,370.200806,83.911964,379.679047,21,21,1,06-2019,False,False,Open Sans,6.96,7105644,0,2019-06-06,NaT,0
6,55.703999,471.020813,84.391968,480.499054,54,54,1,02-2017,False,False,Open Sans,6.96,7105644,0,2017-02-02,NaT,0

### Subsections

Headers characteristics.

*  Most important and used Headers in CVs re covered the following titles: 

    *   EXPERIENCE
    *   PROFESSIONAL EXPERINCE
    *   CAREER HISTORY
    *   EMPLOYMENT HISTORY
    *   WORK EXPERIENCE
    *   EXPERIENCIA
    *   EXPERIENCIA LABORAL
    *   EXPERIENCIA PROFESIONAL
    *   EDUCATION
    *   ESTUDIOS

*   These are all in separate lines, therefore if tokenized len of these text would be `len = 2`.
*   Generally speaking most of these header **will have at least one** of the following characteristics:

    *   Upper letters
    *   Higher Font Size
    *   Different font than the rest of the text
    *   Different color (0, means black)

Main Issue with this solution: within every section there is going to be unnecessary text and sometimes it will catch range of dates that are not experiences or education

**Proposal to find dates:** create a function that find lines that comply with at least one of these attributes (1 or more). 

*   Upper letters
*   Higher Font Size
*   Different font than the rest of the text
*   Different color (0, means black)

There are at least 2 sections to a CV, education and experience

In [52]:
headers = ['EXPERIENCE', 'PROFESSIONAL EXPERINCE', 'CAREER HISTORY', 'EMPLOYMENT HISTORY', 'WORK EXPERIENCE', 'EXPERIENCIA', 'EXPERIENCIA PROFESIONAL', 'EDUCATION', 'EDUCACION', 'ESTUDIOS']

def cap(names, option):
  if option == "Upper" : 
      fct= str.upper
  elif option == "Cap":
    fct = str.capitalize
  elif option == "Lower":
    fct = str.lower
  return (fct(name) for name in names)

In [53]:
sections_labels = []
sections_index = []

for index, line in enumerate(span_df.text):
  words = line.split()

  if len(words) <= 2 and any(header in line for header in headers):
    #print(line)
    sections_labels.append(line)
    sections_index.append(index)

sections_labels, sections_index

(['      WORK EXPERIENCE', '     EDUCATION'], [2, 52])

In [54]:
sections_dict = {}

for a, b in enumerate(sections_index):
  if b == sections_index[-1]:
   sections_dict[span_df.loc[b, 'text']] = span_df.iloc[b:, :].reset_index(drop = True)
  else :
    sections_dict[span_df.loc[b, 'text']] = span_df.iloc[b:sections_index[a+1], :].reset_index(drop = True)

In [55]:
sections_dict.keys()

dict_keys(['      WORK EXPERIENCE', '     EDUCATION'])

In [56]:
for a, b in enumerate(sections_dict.keys()):
  sections_dict[b]['diff_xmin'] = sections_dict[b]['xmin'].diff().abs()

In [57]:
EXPERIENCE = '      WORK EXPERIENCE'

In [ ]:
sections_dict[EXPERIENCE]

In [58]:
sections_dict['      WORK EXPERIENCE']

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color,Col_Type,start_date,end_date,exp_time,diff_xmin
0,108.050003,190.635986,214.368439,204.363098,5,3,1,WORK EXPERIENCE,True,False,Open Sans Light,10.080,5210556,0,NaT,NaT,0,NaN
1,126.290001,219.762115,238.149063,232.181885,129,152,1,SENIOR DATA ENGINEER,True,True,"Open Sans,Bold",9.120,7105644,0,NaT,NaT,0,18.239998
2,56.664001,221.350800,84.151970,230.829041,131,155,1,Present,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,69.625999
3,125.809998,231.364685,179.487335,242.150269,124,147,1,At Blankfactor,False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,69.145996
4,55.464001,232.390778,84.151970,241.869019,132,156,1,05-2022,False,False,Open Sans,6.960,7105644,0,2022-05-05,NaT,0,70.345997
5,140.449997,247.030792,361.707977,256.509033,126,149,1,"Developing and optimizing views, procedures, a...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.985996
6,126.290001,247.472595,129.491333,255.999268,125,149,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
7,140.449997,258.070831,334.087982,267.549072,128,150,1,Developing data loads and transformations in S...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
8,126.290001,258.512634,129.491333,267.039307,127,150,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
9,127.010002,277.576447,255.435287,290.028870,102,121,1,ADVANCED DATA ENGINEER,True,True,"Open Sans,Bold",9.144,7105644,0,NaT,NaT,0,0.720001
10,56.183998,279.165161,84.878204,288.676086,104,124,1,04-2022,False,False,Open Sans,6.984,7105644,0,2022-04-04,NaT,0,70.826004
11,126.529999,289.234741,269.277344,300.020325,93,114,1,At Growth Acceleration Partners (GAP),False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,70.346001
12,56.183998,290.020782,84.871971,299.499023,105,125,1,07-2021,False,False,Open Sans,6.960,7105644,0,2021-07-07,NaT,0,70.346001
13,141.169998,304.900787,287.767975,314.379028,95,116,1,Leading an MDM Project with Profisee tool.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.986000
14,127.010002,305.342590,130.211334,313.869263,94,116,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
15,141.169998,315.940826,369.867981,325.419067,97,117,1,Developing solutions in Azure Data Factory int...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
16,127.010002,316.382629,130.211334,324.909302,96,117,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
17,141.169998,326.980804,258.707977,336.459045,99,118,1,Developing Databricks Notebooks.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
18,127.010002,327.422607,130.211334,335.949280,98,118,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
19,141.169998,337.780792,308.647980,347.259033,101,119,1,Developing and optimizing ETLs and SQL Objects.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
20,127.010002,338.222595,130.211334,346.749268,100,119,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
21,126.290001,358.486450,330.815308,370.938873,18,16,1,SENIOR BUSINESS INTELLIGENCE DEVELOPER,True,True,"Open Sans,Bold",9.144,7105644,0,NaT,NaT,0,0.720001
22,55.223999,359.140808,83.911964,368.619049,20,20,1,06-2021,False,False,Open Sans,6.960,7105644,0,2021-06-06,NaT,0,71.066002
23,125.809998,369.654724,250.875793,380.440308,19,18,1,At Tata Consultancy Services (TCS),False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,70.585999
24,55.223999,370.200806,83.911964,379.679047,21,21,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,NaT,0,70.585999
25,140.449997,385.560791,375.219635,395.039032,10,9,1,Leading and supervising software solutions wit...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,85.225998
26,126.290001,386.002594,129.491333,394.529266,9,9,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
27,140.449997,396.360809,186.917969,405.839050,11,10,1,technologies.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
28,140.449997,407.400818,350.476624,416.879059,13,11,1,Intermediating between the factory and the cus...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,0.000000
29,126.290001,407.842621,129.491333,416.369293,12,11,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
30,140.449997,418.440796,188.357971,427.919037,14,12,1,impediments.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
31,140.449997,429.240814,353.067963,438.719055,16,13,1,"Designing, developing, and optimizing data war...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,0.000000
32,126.290001,429.682617,129.491333,438.209290,15,13,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
33,140.449997,440.280792,241.427963,449.759033,17,14,1,operational reports and ETLs.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
34,126.529999,458.392090,364.429047,470.811859,51,50,1,INTERMEDIATE BUSINESS INTELLIGENCE DEVELOPER,True,True,"Open Sans,Bold",9.120,7105644,0,NaT,NaT,0,13.919998
35,55.703999,459.980804,84.391968,469.459045,53,53,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,NaT,0,70.826000
36,126.050003,469.994720,224.397339,480.780304,47,45,1,At IG Services (Intergrupo),False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,70.346004
37,55.703999,471.020813,84.391968,480.499054,54,54,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,NaT,0,70.346004
38,140.690002,485.660797,384.987976,495.139038,49,47,1,"Designing, developing, and optimizing data war...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.986004
39,126.529999,486.102600,129.731323,494.629272,48,47,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.160004
40,140.690002,496.700806,342.007996,506.179047,50,48,1,"operational and analytical reports, multidimen...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.160004
41,126.290001,515.992126,291.209045,528.411865,69,73,1,INTERMEDIATE SOFTWARE ANALYST,True,True,"Open Sans,Bold",9.120,7105644,0,NaT,NaT,0,14.400002
42,55.464001,517.580811,84.151970,527.059082,71,76,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,NaT,0,70.826000
43,125.809998,527.569092,186.693588,538.387329,63,67,1,At Personal Soft,False,False,Open Sans Light,7.944,7105644,0,NaT,NaT,0,70.345997
44,55.464001,528.620789,84.151970,538.099060,72,77,1,10-2013,False,False,Open Sans,6.960,7105644,0,2013-10-10,NaT,0,70.345997
45,140.449997,543.290771,350.765564,552.769043,65,69,1,"Designing, developing and optimizing data ware...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.985996
46,126.290001,543.732605,129.491333,552.259277,64,69,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
47,140.449997,554.330811,241.427963,563.809082,66,70,1,operational reports and ETLs.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
48,140.449997,565.370789,309.607971,574.849060,68,71,1,Developing software solutions in ASP.NET and C#.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,0.000000
49,126.290001,565.812622,129.491333,574.339294,67,71,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996

## Evaluation

In [59]:
blocks = []

for a, b in enumerate(sections_dict[EXPERIENCE]['start_date']):
  if not pd.isnull(sections_dict[EXPERIENCE].start_date[a]) and not pd.isnull(sections_dict[EXPERIENCE].end_date[a]):
    print(sections_dict[EXPERIENCE]['text'][a])
    blocks.append(a)

blocks

[]

In [60]:
for index, block in enumerate(blocks):
 if block == blocks[-1]:
  cont = len(sections_dict[EXPERIENCE]['text'])
 else:
   cont = blocks[index+1]
 
 print(sections_dict[EXPERIENCE].loc[block:cont ,'text'])

In [61]:
tech = {
    "Data Languages" : ["Python", "R"],
    "Ordinary Programming Languages" : ["Java", "C/+/+"],
    "Web Development" : ["HTML", "CSS", "JavaScript", "React", "Angular"],
    "Cloud" : ["AWS", "Azure", "GCS"],
    "Databases" : ["SQL", "No-SQL", "Oracle", "MySQL", "T-SQL"],
    "Supervised Machine Learning" : ["Random Forest", "Naive Bayes", "Linear Regression", "Logistic Regression", "Support vector machines (SVM)", "KNN"],
    "Unsupervised Machine Learning" : ["Clustering", "K-Means","Dimensionality Reduction"],
    "Neural Networks" : ["Deep Learning", "Convolutional Neural Networks"],
    "Artificial Intelligence" : ["Neural Networks", "Machine Learning", "Internet of Things (IoT)"],
    "Big Data" : ["Big Data", "Hadoop", "Hive", "Pig"],
    "Visualization" : ["Tableau", "Power BI"],
    "Project Management" : ["PMP", "Agile", "Scrum"],
    "Data Handling" : ["ETL", "Data Modeling", "Data Mining", "Data Wrangling"]
}

### DataFrame

In [67]:
from collections import Counter

testo = []

for index, block in enumerate(blocks):
 if block == blocks[-1]:
  cont = len(sections_dict[EXPERIENCE]['text'])
 else:
   cont = blocks[index+1]

 test_df = sections_dict[EXPERIENCE].loc[block:cont-1 ,:]
 for key_tech in tech.keys():
  conta = Counter(word for i in test_df['text'].str.findall(f'\\b({ "|".join(tech[key_tech])})(?i)\\b') for word in i)
  for key in conta.keys():
    testo.append([test_df.loc[block, 'start_date'], test_df.loc[block, 'end_date'], key_tech, key, conta[key], test_df.loc[block, 'exp_time']])

evaluation = pd.DataFrame(testo, columns = ['start', 'end', 'Tech', 'Keyword', 'Counter','Exp'])

In [68]:
sections_dict[EXPERIENCE]

,xmin,ymin,xmax,ymax,line_num,block_num,page_num,text,is_upper,is_bold,span_font,font_size,color,Col_Type,start_date,end_date,exp_time,diff_xmin
0,108.050003,190.635986,214.368439,204.363098,5,3,1,WORK EXPERIENCE,True,False,Open Sans Light,10.080,5210556,0,NaT,NaT,0,NaN
1,126.290001,219.762115,238.149063,232.181885,129,152,1,SENIOR DATA ENGINEER,True,True,"Open Sans,Bold",9.120,7105644,0,NaT,NaT,0,18.239998
2,56.664001,221.350800,84.151970,230.829041,131,155,1,Present,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,69.625999
3,125.809998,231.364685,179.487335,242.150269,124,147,1,At Blankfactor,False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,69.145996
4,55.464001,232.390778,84.151970,241.869019,132,156,1,05-2022,False,False,Open Sans,6.960,7105644,0,2022-05-05,NaT,0,70.345997
5,140.449997,247.030792,361.707977,256.509033,126,149,1,"Developing and optimizing views, procedures, a...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.985996
6,126.290001,247.472595,129.491333,255.999268,125,149,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
7,140.449997,258.070831,334.087982,267.549072,128,150,1,Developing data loads and transformations in S...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
8,126.290001,258.512634,129.491333,267.039307,127,150,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
9,127.010002,277.576447,255.435287,290.028870,102,121,1,ADVANCED DATA ENGINEER,True,True,"Open Sans,Bold",9.144,7105644,0,NaT,NaT,0,0.720001
10,56.183998,279.165161,84.878204,288.676086,104,124,1,04-2022,False,False,Open Sans,6.984,7105644,0,2022-04-04,NaT,0,70.826004
11,126.529999,289.234741,269.277344,300.020325,93,114,1,At Growth Acceleration Partners (GAP),False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,70.346001
12,56.183998,290.020782,84.871971,299.499023,105,125,1,07-2021,False,False,Open Sans,6.960,7105644,0,2021-07-07,NaT,0,70.346001
13,141.169998,304.900787,287.767975,314.379028,95,116,1,Leading an MDM Project with Profisee tool.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.986000
14,127.010002,305.342590,130.211334,313.869263,94,116,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
15,141.169998,315.940826,369.867981,325.419067,97,117,1,Developing solutions in Azure Data Factory int...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
16,127.010002,316.382629,130.211334,324.909302,96,117,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
17,141.169998,326.980804,258.707977,336.459045,99,118,1,Developing Databricks Notebooks.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
18,127.010002,327.422607,130.211334,335.949280,98,118,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
19,141.169998,337.780792,308.647980,347.259033,101,119,1,Developing and optimizing ETLs and SQL Objects.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
20,127.010002,338.222595,130.211334,346.749268,100,119,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
21,126.290001,358.486450,330.815308,370.938873,18,16,1,SENIOR BUSINESS INTELLIGENCE DEVELOPER,True,True,"Open Sans,Bold",9.144,7105644,0,NaT,NaT,0,0.720001
22,55.223999,359.140808,83.911964,368.619049,20,20,1,06-2021,False,False,Open Sans,6.960,7105644,0,2021-06-06,NaT,0,71.066002
23,125.809998,369.654724,250.875793,380.440308,19,18,1,At Tata Consultancy Services (TCS),False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,70.585999
24,55.223999,370.200806,83.911964,379.679047,21,21,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,NaT,0,70.585999
25,140.449997,385.560791,375.219635,395.039032,10,9,1,Leading and supervising software solutions wit...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,85.225998
26,126.290001,386.002594,129.491333,394.529266,9,9,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
27,140.449997,396.360809,186.917969,405.839050,11,10,1,technologies.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
28,140.449997,407.400818,350.476624,416.879059,13,11,1,Intermediating between the factory and the cus...,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,0.000000
29,126.290001,407.842621,129.491333,416.369293,12,11,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
30,140.449997,418.440796,188.357971,427.919037,14,12,1,impediments.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
31,140.449997,429.240814,353.067963,438.719055,16,13,1,"Designing, developing, and optimizing data war...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,0.000000
32,126.290001,429.682617,129.491333,438.209290,15,13,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
33,140.449997,440.280792,241.427963,449.759033,17,14,1,operational reports and ETLs.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
34,126.529999,458.392090,364.429047,470.811859,51,50,1,INTERMEDIATE BUSINESS INTELLIGENCE DEVELOPER,True,True,"Open Sans,Bold",9.120,7105644,0,NaT,NaT,0,13.919998
35,55.703999,459.980804,84.391968,469.459045,53,53,1,06-2019,False,False,Open Sans,6.960,7105644,0,2019-06-06,NaT,0,70.826000
36,126.050003,469.994720,224.397339,480.780304,47,45,1,At IG Services (Intergrupo),False,False,Open Sans Light,7.920,7105644,0,NaT,NaT,0,70.346004
37,55.703999,471.020813,84.391968,480.499054,54,54,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,NaT,0,70.346004
38,140.690002,485.660797,384.987976,495.139038,49,47,1,"Designing, developing, and optimizing data war...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.986004
39,126.529999,486.102600,129.731323,494.629272,48,47,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.160004
40,140.690002,496.700806,342.007996,506.179047,50,48,1,"operational and analytical reports, multidimen...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.160004
41,126.290001,515.992126,291.209045,528.411865,69,73,1,INTERMEDIATE SOFTWARE ANALYST,True,True,"Open Sans,Bold",9.120,7105644,0,NaT,NaT,0,14.400002
42,55.464001,517.580811,84.151970,527.059082,71,76,1,02-2017,False,False,Open Sans,6.960,7105644,0,2017-02-02,NaT,0,70.826000
43,125.809998,527.569092,186.693588,538.387329,63,67,1,At Personal Soft,False,False,Open Sans Light,7.944,7105644,0,NaT,NaT,0,70.345997
44,55.464001,528.620789,84.151970,538.099060,72,77,1,10-2013,False,False,Open Sans,6.960,7105644,0,2013-10-10,NaT,0,70.345997
45,140.449997,543.290771,350.765564,552.769043,65,69,1,"Designing, developing and optimizing data ware...",False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,84.985996
46,126.290001,543.732605,129.491333,552.259277,64,69,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996
47,140.449997,554.330811,241.427963,563.809082,66,70,1,operational reports and ETLs.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,14.159996
48,140.449997,565.370789,309.607971,574.849060,68,71,1,Developing software solutions in ASP.NET and C#.,False,False,Open Sans,6.960,7105644,0,NaT,NaT,0,0.000000
49,126.290001,565.812622,129.491333,574.339294,67,71,1,*,False,False,SymbolMT,6.960,7105644,0,NaT,NaT,0,14.159996

In [63]:
evaluation

Empty DataFrame
Columns: [start, end, Tech, Keyword, Counter, Exp]
Index: []

In [64]:
evaluation.groupby(by = ['start','Tech', 'Keyword']).sum()

/var/folders/v2/qknnv4n91jg_n5dynkby31nh0000gp/T/ipykernel_14828/3766015579.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  evaluation.groupby(by = ['start','Tech', 'Keyword']).sum()

Empty DataFrame
Columns: []
Index: []

# TESTING SECTION

### Dates

In [ ]:
symbols = [',', '-', '/', '(', ')', ":"]
palabras = "Esta es una nueva prueba fe b re ro 2018 a Di ci em bre 2 0 22 , agrego m[as a  2 0 2 2 ver que"
palabras = palabras.split()
print(palabras)

for i, date in enumerate(palabras):
    if any(symbol in date for symbol in symbols):
        split_date = re.split('|'.join(re.escape(s) for s in symbols), date)
        palabras[i:i+1] = split_date

palabras = [date for date in palabras if date != '']
print(palabras)

In [ ]:
text = ["ToryTech, Bogotá, Colombia | Mar-2019 ", 
"October 2019 – October 2022 South Geeks (Client: Celmatix) – Data Engineer",
"Health Care Research Intern - 04/2022 - 06/2022 IBM - Israel",
"03/2021 – 08/2021: Data Developer Semi Senior – Indra",
"marzo de 2013 - enero de 2017 (3 años 11 meses)",
"10/10/2017 - 01/10/2018 (Lima-Perú) EVERIS NTT DATA – ANALISTA DE DATOS",
"DATABASE DEVELOPER, LISZT SOFT SRL Buenos Aires City — Nov 2018-Jan 2021", 
"Data Engineer, Bancolombia (Risk Analytics Department), Medellín December 2020 — January 2022",
"Universidad Privada, líder en la formación de profesionales con alta calidad según estándares  nacionales e internacionales con más de 19 años de experiencia. Asistente de herramientas educativas (Marzo 2015 a Agost o 2016)",
"Agencia Nacional Digital, Colombia — Business Intelligence Expert (JUNE, 2021 - November, 2021 )",
"DATA ANALYST - PROGRAMMER PriceWaterhouseCoopers - 11/2019 - 11/2020", 
"January 2022 — Present",
"Herramientas: JIRA, Bitbucket (GIT), PySpark,Jenkins, Data Stage, Hue Cloudera: Hive &  Impala, Hadoop (HDFS), Scrum Framework. Analista de Sistemas de Cobranza II (Diciembre 2017 a la Abril 2021).",
"Data Engineer Advanced (Abril 2021 a la actu al idad)",
"Something else written without a date",
"Something else that includes a month December",
"What about a numeric number like a year, let it be 2014 - 2015 in PWC",
"Un telefono bien chingon 11-6204-7026 que no se como lo trata",
"Esta es una nueva prueba fe b re ro 2018 a Di ci em bre 2 0 22 , agrego m[as a ver que",
"STRATESYS SAS, Technical Consultant  DEC 2021 – PRESENT"]

dates, delta = assignation(text)

start_dates = [d[0] if len(d) > 0 else None for d in dates]
end_dates = [d[1] if len(d) > 1 else None for d in dates]
exp_time = [t for t in delta]   

df = pd.DataFrame({'text': text, 'start_date': start_dates, 'end_date': end_dates, 'Exp_Time': exp_time})
df

### Sections

In [ ]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [ ]:
df_copy = pd.DataFrame(span_df['text'])
df_copy

In [ ]:
# Initialize a list to store the section titles
section_titles = []

# Iterate through the rows in the DataFrame
for index, row in df_copy.iterrows():
    # Process the text with spaCy
    
    doc = nlp(row["text"])
    #print(doc.ents)

    # Iterate through the entities in the document
    for ent in doc.ents:
        # Check if the entity label is "TITLE"
        print(ent, ent.label_)
        """if ent.label_ is doc.ents.:
            # Add the entity text to the list of section titles
            section_titles.append(ent.text)"""

# Print the section titles
print("Section Titles:", section_titles)

In [ ]:
print(doc)